{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
{% if not current_user.is_activated() %}
<a href="{{ url_for('resend') }}">Resend Email Verification</a>
{% endif %}
{% if statistics %}
<p>Total number of users who have signed up: {{ statistics.total_users }}</p>
<p>Total number of users with active sessions today: {{ statistics.total_active_today }}</p>
<p>Average number of active session users in the last 7 days: {{ "%.2f" | format(statistics.avg_last_days) }}</p>
{% endif %}
{% if users %}
<h1>Dashboard</h1>
<table border="1">
    <thead>
        <tr>
            <th>Timestamp of user sign up</th>
            <th>Number of times logged in</th>
            <th>Timestamp of the last user session</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.created_at }} UTC</td>
            <td>{{ user.signin_count }}</td>
            <td>{{ user.last_signin_at }} UTC</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if form %}
<hr />
<form method="POST">
    {{ form.csrf_token }}
    {{ form_tool.render_field(form.old_pwd) }}
    {{ form_tool.render_field(form.password) }}
    {{ form_tool.render_field(form.confirm) }}
    {{ form_tool.render_submit(form.submit) }}
</form>
{% endif %}
{% endif %}
{% endblock %}
