{% extends 'base.html' %}

{% block title %} - Profile{% endblock %}

{% block content %}
<h1>Hi {{ user.nickname }}!</h1>

{% if not user.is_activated() %}
<div class="warning">Your email &lt;{{ user.email }}&gt; is not verified yet!</div>
{% else %}
<div>Your account &lt;{{ user.email }}&gt; was activated on {{ user.activated_at }} UTC</div>
{% endif %}

<form method="POST">
  {{ form.csrf_token }}
  <p>
      {{ form.nickname.label }}
      {{ form.nickname(value=user.nickname) }}
  </p>

  {% if form.nickname.errors %}
      <ul class="errors">
          {% for error in form.nickname.errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
  {% endif %}

  {{ form.submit(formnovalidate=True) }}
</form>

{% endblock %}
