{% extends 'base.html' %}

{% block title %} - Profile{% endblock %}

{% block content %}
<h1>Hi {{ user.nickname }}!</h1>

{% if not user.is_activated() %}
<div class="warning">Your email &lt;{{ user.email }}&gt; is not verified yet!</div>
{% else %}
<div>Your account was activated on {{ user.activated_at }} UTC</div>
{% endif %}
<hr />
<form method="POST">
    {{ form.csrf_token }}
    {{ form_tool.render_field(form.nickname, value=user.nickname) }}
    {{ form_tool.render_submit(form.submit) }}
</form>

{% endblock %}
